#contactForm{
  padding:2rem 1rem;
  border:1px solid var(--theme-color-main);
  border-radius: 15px;
  overflow:hidden;
}
.form-group{
  list-style-type: none;

  .form-item{
    padding-top: 1rem;
    max-width:200px;
    display: flex;
    flex-flow:column nowrap;

    // .btn-submit{
    //   background-color: #222;
    // }
    input:not(.btn-submit){
      background: transparent;
      border: 0;
      border-bottom: 2px solid black;
    }
  }
  
}