<!-- wp:template-part { "slug":"header", "tagName":"header"} /-->

<!-- wp:group {"tagName":"main", "layout":{"type":"constrained"}} -->
  <main class="wp-block-group main">
    <!-- wp:template-part { "slug":"product", "tagName":"section", "className":"products" } /-->
    <!-- wp:template-part { "slug":"news", "tagName":"section", "className":"news"} /-->
    <!-- wp:template-part { "slug":"posts", "tagName":"section", "className":"posts"} /-->
    <!-- wp:template-part { "slug":"social", "tagName":"section", "className":"social"} /-->
    <!-- wp:template-part { "slug":"aboutus", "tagName":"section", "className":"aboutus"} /-->
    <!-- wp:template-part { "slug":"contacts", "tagName":"section", "className":"contacts"} /-->
  </main>
<!-- /wp:group -->

<!-- wp:template-part { "slug":"sidebar", "tagName":"sidebar"} /-->
<!-- wp:template-part { "slug":"footer", "tagName":"footer"} /-->